@{
    ViewBag.Title = "About Us?";
}
<style>
    h2 {
        text-shadow: 0 0 4px #ff0000;
    }
</style>
<h2 style="color:white">@ViewBag.Title</h2>
<h2 class="text-center"style="color:black">@Html.Raw(ViewBag.Message)</h2>
<div class="text-center">
    <h4 class="center-block"><a href="/Canadian/Index" class="btn btn-danger btn-lg">Get Your Canadian Now</a></h4>
</div>
<p>Seriously though, stop asking questions.
</p>
