
@{
    ViewBag.Title = "FAQ";
}

<style>
    body {
        background-image: url('../Content/Pix/CanadaFlag.jpg');
    }

    .jumbotron {
        background: none;
    }

    h1 {
        color: black;
        text-shadow: 0 0 5px #ff0000;
    }

    h2 {
        color: black;
        text-shadow: 0 0 7px #ffffff;
    }

    p {
        color: white;
        background-color: rgba(255, 0, 0, 0.6);
    }
    h3 {
        color:black;
        background-color: rgba(255, 0, 0, 0.6);
    }

</style>
<div class="jumbotron text-center" style="color:black">
    <h1>F.A.Q.</h1>
    <h3 class="text-center">
        Q: So, <i>is</i> my Canadian guaranteed fresh?<br />
        A: We prefer to call it a "promise" rather than a guarantee, because those
        can be broken without legal repercussions. I'm sure you understand.
        <br />
        <br />
        Q: Does my Canadian know American Sign Language?<br />
        A: Unfortunately, your Canadian will, at best, know "Canadian" Sign Language, and will likely need to be re-trained.
        <br />
        <br />
        Q: Is my Canadian certified to operate a forklift in Utah?<br />
        A: I mean, like <i>probably</i> not?
        <br />
        <br />
        Q: Will my Canadian perform the tricks I command them to?<br />
        A: Your new Canadian comes with the Maple Syrup Guarantee™, which stipulates that if at any time they fail to perform as commanded,
        they must somehow acquire 20 gallons of pure maple syrup and present it to you as an offering of forgiveness. Don't hesitate to remind them of this!<br />
        <br />
        <br />
        Q: How do I contact the company if I need technical support for my Canadian?<br />
        A: Unfortunately, technical support only comes with the purchase of 3 or more Canadians, but as a limited-time Special Offer,
        purchase 2 Canadians for the price of 3, get a Bonus Canadian absolutely free!
        <br />
        <br />
        Q: What if I have more questions?<br />
        A: Sorry, you're limited to 5 questions. Please purchase additional Canadians to unlock more answers!
    </h3>
    <h4 class="center-block"><a href="/Canadian/Index" class="btn btn-danger btn-lg">Get Your Canadian Now</a></h4>
</div>