
<style>
    body {
        background-image: url('../Content/Pix/CanadaFlag.jpg');
    }
    .jumbotron {
        background: none;
    }
    h1 {
        color: black;
        text-shadow: 0 0 5px #ff0000;
    }
    h2 {
        color: black;
        text-shadow: 0 0 7px #ffffff;
    }
    p {
        color: white;
        background-color:rgba(255, 0, 0, 0.6);
    }
    img2 {

    }
</style>
<div class="jumbotron text-center" style="color:black">
    <h1>YourNewCanadian.Com</h1>
    <h2>
        You have it <i>all</i>. <strong> Wealth. Fame. Happiness.</strong> <br />Except... something's missing, eh? <br />You can't put your finger on it exactly, but
        there's this sense of emptiness that you just can't explain...<br /> Don't worry - we've got you covered, bud! Welcome to...
    </h2>
    <h1>--=|YOUR * NEW * CANADIAN|=--</h1>
    <br />
    <h4 class="center-block"><a href="/Canadian/Index" class="btn btn-danger btn-lg">Get Your Canadian Now</a></h4>

</div>
<div >
    <img style="float:left;" src="../Content/Pix/MysteryMan.png" alt="Canadian Guy" width="200" height="200">

    <img style="float:right;"src="../Content/Pix/MysteryWoman.png" alt="Canadian Lady" width="200" height="200">
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="text-center"><i>Why</i> a Canadian, tho?</h2>
        <p class="text-center"style="color:black">
            Studies have shown that 100% of people "benefit" from obtaining a new Canadian,
            with over 12% showing full recovery and remission of all non-Canadian related maladies. Canadians
            are a United Nations-approved source of unlimited maple syrup, beaver pelts, and ice - for making <i>beautiful</i>
            ice hockey rinks anywhere you like. They are "100% Guaranteed" to provide endless hours of Canadian enjoyment
            to you and/or your family.
        </p>
        <h4><a class="btn btn-danger" href="/Home/Why">Learn more &raquo;</a></h4>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Is this legal?</h2>
        <p class="text-center"style="color:black">
            Listen, our lawyer(s) are working <i>tirelessly</i> around the clock to obtain all the permits and legal waivers necessary
            to deliver <b>your</b> Canadian to you with an absolute minimum of legal hiccups when it comes to international
            laws on human rights. Your Canadian has already signed a sworn statement that they won't sue you <i>or</i> us,
            so we're pretty much in the clear here, I'd say.<br /> My lawyer just shot me the double-guns, so there's that.
        </p>
        <h4><a class="btn btn-danger" href="/Home/Legal">Learn more &raquo;</a></h4>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Your Canadian's F.A.Q.</h2>
        <p class="text-center"style="color:black">
            You have questions - sure, I get it! Like: <br />Is my Canadian guaranteed fresh?<br /> Will my Canadian perform the tricks I command
            it to?<br />Is my Canadian certified to operate a forklift in Utah? <br />Chill out, bud! We have all your answers right here!
        </p>
        <h4><a class="btn btn-danger" href="/Home/FAQ">Learn more &raquo;</a></h4>
    </div>
</div>
