
@{
    ViewBag.Title = "Legal";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
    body, html {
        /* The image used */
        background-image: url('../Content/Pix/Lawyer.jpg');
        /* Full height */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 76%;
    }
    .jumbotron {
        background: none;
    }
</style>

<div class="jumbotron text-center">
<h4 class="center-block"><a href="/Canadian/Index" class="btn btn-danger btn-lg">Get Your Canadian Now</a></h4>
</div>