
@{
    ViewBag.Title = "Why";
}
<style>
    .jumbotron {
        background-color: rgba(255, 0, 0, 0.5);
    }
</style>

    <div class="jumbotron text-center" style="color:black">
        <h2><b>Problem 1</b>: You don't have a Canadian</h2>
        <h2><b>Problem 2</b>: We have *way* too many Canadians</h2>
        <h1>SOLUTION:</h1>
        <h2>Get yourself a brand new Canadian today...<br /> and we <b>both</b> win!</h2>
        <br />
        <h4 class="center-block"><a href="/Canadian/Index" class="btn btn-danger btn-lg">Get Your Canadian Now</a></h4>
    </div>

